.card{
    display: flex;
    margin: 0.5rem;
    height: fit-content;
    background-color: rgb(40,40,40);
    border-radius: 1rem;
    padding-left: 2rem;
    overflow: hidden;
}



.info{
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    width: 100%;  
    text-shadow: 2px 2px 4px #000000;
}
.info h1{
    font-weight: 300;
}
.info p{
    margin-left: 15px;
    font-weight: 300;
}

.buttons img{
    margin: 0.2rem;
    padding: 0.2rem;
    height: 2.5rem;
    border: 0.12rem solid rgb(5,5,5);
    border-radius: 20%;
    transition: all 0.3s ease;
}

.buttons button{
    background-color: rgb(40,40,40);
    border:0;
}

.buttons img:hover{
    margin-bottom: 0.5rem;
}

.buttonContainer{
    margin-top: 1rem;
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 0.7rem;
}