.editContainer{
    left: 50%;
    top: 50%;
    transform: translate(500%, -50%);
    width: 20rem;
    border-radius: 0.5rem;
    position: absolute;
    border: 3px solid rgb(40,40,40);
    background-color: black;
    font-weight: 150;
    transition: all 0.3s ease;
    overflow: hidden;
}
.editHeader h1{
    border: 5px solid rgb(40,40,40);
    font-weight: 300;
    transition: all 0.3s ease;
    padding: 5px;
    margin-bottom: 0.4rem;
    text-shadow: 2px 2px 4px #000000;
}

.editHeader{
    display: flex;
    background-color: rgb(40,40,40);
    border:1px solid rgb(40,40,40);
}

.editHeaderButtonContainer{
    display: flex;
    margin-top: 0.8rem;
}
.editHeaderButtonContainer div{
    transition: all 0.3s ease;
}

.editHeaderButtonContainer div:hover{
  padding-top: 0.1rem;
}


.editbuttonOk{
    position: relative;
    margin-left: 7rem;
}
.editbuttonOk input{
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.editbuttonOk img{
    top:0;
    left: 0;
    height: 3.1rem;
}

.editbuttonQuit img{
    height: 3.1rem;
}

.editbuttonQuit{
    position: relative;
}

.editbuttonQuit button{
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.editInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
}

.editInfo label{
    font-size: large;
    margin-left: 0.6rem;
    
}


.editInfo input{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    height: 1.4rem;
    background-color: rgb(40,40,40);
    border:0;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}


.editInfo input:hover{
    background-color: rgb(190,190,190);
}

.editInfo input:focus{
    background-color: rgb(190,190,190);
}

.editInfo input:last-of-type{
    margin-bottom: 0.7rem;
}